@mixin font-style($size,$line-height,$weight) {
  font-size: $size+px;
  line-height: $line-height+px;
  font-weight: $weight;
}

@mixin after-style($image: true) {
  @if $image {
    background-image: url($image);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  } @else {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

@mixin bg-img-style($bg-img) {
  background-image: url($bg-img);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin hover-style {
  transform: translateY(0px);
  transition: all .5s;
  &:hover {
    transform: translateY(-5px);
  }
}

@mixin webkit-line($number) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $number;
}