//color
$primary-color: #8f8f92;
$color-white: #fff;
$color-green: #23c97c;
$bg-body: #FAFCFE;
$bg-gray: #F4F6F8;
$new-order: #FFECD0;
$progress-order: #D3DFFB;
$delivered-order: #FFD7EB;
$completed-order: #CAF4E1;
$cancelled-order: #EAEBED;