<template>
  <div class="home-page">
    <div class="container">
      <div class="row row-cols-4">
        <Column class="col-items" v-for="(column, columnIndex) in columns" :column="column" :column_index="columnIndex" ></Column>
      </div>
    </div>
  </div>
</template>

<script lang="ts">

import {Component, Vue} from 'vue-property-decorator';
import Column from "@/components/Column.vue";
import data from '../datasource/column-data.json'


@Component({
  components: {
    Column,
  },
})

export default class Home extends Vue {
  private columns = []

  mounted() {
    this.columns = data.data
    console.log(this.columns)
  }

}
</script>
