<template>
  <div>
    <h3>{{ column.title }}</h3>
    <div class="content-box" v-for="(card, index) in column.cards">
      <div class="content-header">
        <a class="dot-bar" href="javascript:void (0)" @click="deleteBtn(column_index,index)">...</a>
        <div class="bg-green" :id="`btn-delete-${column_index +'-'+index}`">
          <a href="" class="btn-delete" >
            Delete
          </a>
        </div>
      </div>
      <!--  main-content-->
      <div class="content-body">
        <div class="content-main d-flex justify-content-between align-items-center">
          <div class="img">
            <img class="img-fluid" :src="getImgUrl(card.image)" v-bind:alt="card.image">
          </div>
          <div class="text">
            <div class="status" :class="[card.status === 'cancelled' ? 'cancelled-order' : column.class]">{{
                card.status
              }}
            </div>
            <div class="expire_at mb-2"><i class="fa fa-clock-o me-2"></i>{{ card.expire_at }}</div>
            <div class="created_at">{{ card.created_at }} | <b class="price">{{ card.price }}</b></div>
          </div>
        </div>
        <div class="content-bottom">
          <form action="">
            <div class="form-group mb-3">
              <input class="styled-checkbox" v-model="card.checkbox_1" type="checkbox"
                     :id="`name-${column_index +'-'+index}`">
              <label :for="`name-${column_index +'-'+index}`">Reply to
                {{ card.orders[0]["buyer"] ? card.orders[0]["buyer"].name : "" }}'s message</label>
            </div>
            <div class="form-group">
              <input class="styled-checkbox" v-model="card.checkbox_2" type="checkbox"
                     :id="`draft-${column_index +'-'+index}`">
              <label :for="`draft-${column_index +'-'+index}`">Send a draft</label>
            </div>
          </form>
        </div>
      </div>
      <!-- buyer-content-->
      <div class="content-footer d-flex justify-content-between align-items-center pb-0">
        <h4>View Order</h4>
        <div class="align-items-center buyer-content d-flex">
          <div class="progress-bar"><span style="width: 60%"></span></div>
          <a href="" class="chat"><i class="far fa-comment"></i></a>
          <div class="avatar">
            <img class="img-fluid" :src="getImgUrl(card.orders[0]['buyer'].avatar)" v-bind:alt="card.image">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

@Component
export default class Column extends Vue {
  @Prop() private column: object;
  @Prop() private column_index: number;


  getImgUrl(pic) {
    return require('../assets/' + pic)
  }
  deleteBtn(column_index,index):void{
    let id = document.getElementById(`btn-delete-${column_index +'-'+index}`);
    id.classList.toggle("btn-toggle");

  }

}
</script>