.home-page {
  background: $bg-body;
  padding: 50px 80px;

  .col-items {
    background: $bg-gray;
    padding: 30px;
    min-width: 320px;

    h3 {
      color: $primary-color;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  }

  .content-box {
    background: $color-white;
    padding: 20px 0;
    border-radius: 10px;
    margin-bottom: 15px;
    color: #818384
  }

  .content-header {
    padding:0 20px;
    position: relative;
    .dot-bar {
      text-align: right;
      font-size: 30px;
      display: block;
      margin-top: -25px;
      margin-bottom: 10px;
      color: $primary-color;
    }
    .bg-green{
      background: #fff;
      position: absolute;
      right: 20px;
      top: 45px;
      width: 110px;
      height: 48px;
      text-align: center;
      border-radius: 5px;
      border: 1px solid #ddd;
      line-height: 48px;
      display: none;
    }
    .btn-delete{
      color: #ec5656;
      padding: 2px 30px;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 700;
    }
    .btn-toggle{
      display: block;
    }
  }

  //main order content ================
  .content-body{
    padding:0 20px;
  }
  .content-main {
    .img {
      width: 80px;
      background: gray;
      border-radius: 5px;
      height: 80px;
      overflow: hidden;
      padding: 10px;
      flex-basis: 80px;
      flex-grow: 0;
      flex-shrink: 0;
      img{
        height: 100%;
      }
    }

    .text {
      text-align: right;
      font-size: 14px;
    }

    .status {
      border-radius: 15px;
      font-weight: 700;
      margin-bottom: 10px;
      text-transform: uppercase;
      padding: 3px 15px;
      font-size: 13px;
    }

    .new-order {
      background: $new-order;
      color: #8F694B;
    }
    .progress-order {
      background: $progress-order;
      color: #5C688D;
    }
    .delivered-order {
      background: $delivered-order;
      color: #7D5167;
    }
    .completed-order {
      background: $completed-order;
      color: #4F7161;
    }
    .cancelled-order {
      background: $cancelled-order;
      color: #858585;
    }

    .price {
      color: #414045;
    }
  }
  .content-bottom{
    margin-top: 30px;
  }

  //footer-content
  .content-footer {
    border-top: 1px solid #EFEFEF;
    margin-top: 30px;
    padding: 20px;
    text-transform: capitalize;
    h4{
      font-size: 14px;
      font-weight: 600;
    }
  }
  .buyer-content{
    .avatar{
      width: 30px;
      height: 30px;
      overflow: hidden;
      border-radius: 50%;
      margin-left: 10px;
    }
    .chat {
      position: relative;
      font-size: 24px;
      color: #818384;
      &:after{
        position: absolute;
        content: "";
        border: 2px solid #Fff;
        right: 0;
        top: 3px;
        width: 10px;
        height: 10px;
        background: #FF63AD;
        border-radius: 50%;
      }
    }
    .progress-bar{
      height: 10px;
      border-radius: 10px;
      width: 60px;
      margin-right: 10px;
      background: $primary-color;
      position: relative;
      span{
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        background: $color-green;
        height: 100%;
        border-radius: 10px;
      }
    }
  }

  //checkbox-style
  .styled-checkbox {
    position: absolute;
    opacity: 0;

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 5px;
      border: 1px solid $primary-color;
    }
    &:checked + label:before {
      background: $color-green;
      border: none;
    }
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow:
              2px 0 0 white,
              4px 0 0 white,
              4px -2px 0 white,
              4px -4px 0 white,
              4px -6px 0 white,
              4px -8px 0 white;
      transform: rotate(45deg);
    }
  }
}

