html {
  scroll-behavior: smooth;
}
*{
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none !important;
}

p,h6,h5,h4,h3,h2,h1 {
  margin-bottom: 0;
}
*, ::after, ::before {
  box-sizing: border-box;
}

