@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


$poppins-font: 'Poppins', sans-serif;
$roboto-font: 'Roboto', sans-serif;
$open-font: 'Open Sans', sans-serif;
body {
  font-family: $open-font;
  font-size: 16px;
}

//class list

.me-2 {
  margin-right: 0.5rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.d-block{
  display: block;
}
.d-flex{
  display: flex;
}
.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}
.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}
.align-items-center {
  align-items: center !important;
}
.align-content-center {
  align-content: center !important;
}
.container,
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  margin-right: 15px;
  margin-left: 15px;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: calc(50% - 30px);
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: calc(33.3333333333% - 30px);
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: calc(25% - 30px);
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: calc(20% - 30px);
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: calc(16.6666666667% - 30px);
}

